__pycache__/
*.py[cod]
*$py.class

venv
start-pg.sh
.vscode/*
!.vscode/launch.json
.DS_Store
zr.py

# C extensions
*.so
env
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea

compose
storage
_tmp-change-summary.md
change-summary-since-2025-12.auto.md
