version: "3.0"

networks:
  db_network:
    driver: bridge
  redis_network:
    driver: bridge

services:
  db:
    image: postgres
    restart: always
    container_name: pg
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: ${PGDATA}
    volumes:
      - ./storage/pg/data:/var/lib/postgresql/data:rw
      - ./init/pg/:/docker-entrypoint-initdb.d
    networks:
      - db_network
    ports:
      - 5432:5432

  redis:
    image: redis
    container_name: redis
    restart: always
    networks:
      - redis_network
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis/data:/data:rw

  web:
    build: ./bioinformatics-analysis
    restart: always
    container_name: web
    networks:
      - db_network
      - redis_network
    depends_on:
      - db
      - redis
    environment:
      - DEBUG=true
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
    ports:
      - ${PORT}:8080
    volumes:
      - ./storage/uwsgi:/tmp # 挂载uwsgi日志
    command: ["./wait-for-postgres.sh", "db", "./start.sh"]
